### EDIT THIS FILE

#####################
## REQUIRED CONFIG ##
#####################

# main_backup()
#
# Perform all of your backup logic here, such as creating backup files. The
# directory where you should place your files is set to the first parameter.
#
# @param $1 the directory where you should place your backup files
main_backup () {
  # Something like...
  # mysqldump -u foo -p bar db > $1/backup.sql
}

#########################
## END REQUIRED CONFIG ##
#########################

# after_backup()
#
# Perform any extra logic once your backup has been created. The first paramater
# is the compressed backup file.
#
# @param $1 the zipped up backup file
after_backup () {
  # Something like...
  # scp $1 new.server.com:~/backups
}

#####################
## OPTIONAL CONFIG ##
#####################

# To backup to an AWS S3 Bucket, fillout ALL of these variables
# BEGIN AWS CONFIG
#
AWS_PATH="/usr/local/bin/aws"   # Path to the `aws` command
S3_BUCKET="some-s3-bucket"      # Name of S3 bucket
#
# END AWS CONFIG
